@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap);
.titre,
h1,
header,
img,
section {
  width: 100%;
}
.credits,
.histoire,
.titre,
.titreHistoire,
h1,
h4 {
  text-align: center;
}
body,
main {
  width: 100vw;
}
header,
section {
  background-position: center;
}
.titre,
.titreHistoire {
  color: var(--off-white);
}
.titreHistoire,
h1 {
  position: absolute;
  font-size: 4vw;
}
img {
  height: auto;
  max-width: 100%;
}
#defilezbtn,
.titreHistoire {
  max-width: 50vw;
  left: 50%;
  transform: translateX(-50%);
}
.titre,
ul.technique-gsap {
  left: 0;
  position: absolute;
}
#chapitre1,
header,
section {
  position: relative;
  background-size: cover;
}
#chapitre1,
header,
main,
section {
  height: 100vh;
}
.sousmarinbleu {
  background-image: url("../img/img_elements_visuels/sous_marin2.png");
  background-repeat: no-repeat;
  top: 40vh;
  left: 10vh;
}

.sousmarinbleu2 {
  background-size: 100% 1200%;
  background-image: url("../img/spritesheets/spritesheet_sous_marin.png");
  animation: 6s steps(12) infinite sousmarinplay;
  aspect-ratio: 1/1;
}
:root {
  --bleu-pale: #36a9e0;
  --rose: #e65774;
  --jaune: #edc009;
  --bleu-marin: #004aad;
  --bleu-fonce: #00204a;
  --rose-deux: #d552a0;
  --off-white: #fffff2;
}
header {
  background-image: url("../img/arriere-plan-principal.png");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul.technique-gsap {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 10px;
  font-family: monospace;
  font-weight: 400;
  width: auto;
  display: inline-block;
  padding: 10px 20px 12px;
  margin: 0;
  max-width: 300px;
  z-index: 1000;
  top: 0;
}
ul.technique-gsap li {
  margin: 5px 0;
}
body {
  overflow-x: hidden;
  font-family: Oswald;
}
main {
  overflow-y: visible;
}
section {
  overflow-y: scroll;
}
.titreHistoire {
  top: 30%;
}
.titre {
  font-size: 2.5rem;
  margin-top: 5vh;
  margin-bottom: 20px;
  top: 20;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
#defilezbtn span,
.histoire,
h4 {
  font-size: 2rem;
  color: var(--off-white);
}
h1 {
  top: 5vh;
  padding: 0 20px;
  color: var(--off-white);
}
.histoire,
h4 {
  position: absolute;
}
.histoire {
  left: 25vw;
  padding-bottom: 5vh;
  width: 100vw;
}
.description,
svg {
  width: 50vw;
  position: absolute;
}
h4 {
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  font-weight: 400;
  padding: 10px;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  z-index: 1;
  background-color: rgb(22, 71, 117, 0.5);
}
@media screen and (max-width: 768px) {
  h2,
  h3,
  h4 {
    font-size: 1rem;
    padding: 8px;
  }
  h1 {
    font-size: 3vw;
  }
}
.description {
  top: 50vh;
}
#defilezbtn {
  position: absolute;
  bottom: 2vh;
  display: flex;
  align-items: center;
}
#defilezbtn span {
  margin-left: 1vw;
}
#chapitre1 {
  background-image: url("../img/img_arriere_plan/chapitre_1/arriere-plan-chp1.png");
  background-repeat: no-repeat;
}
.sousmarinrouge {
  position: absolute;
  left: 0;
  top: 30vh;
  max-width: 50vmax;
  height: auto;
  z-index: 3;
}
.poissoncolore {
  position: absolute;
  right: 0;
  bottom: 10vh;
  width: 20vmin;
  height: auto;
}
.groupepoisson {
  position: absolute;
  right: 0;
  top: 10vh;
  width: 50vmin;
  height: auto;
  z-index: 7;
}
.bleudevant1 {
  position: absolute;
  width: 100vmax;
  height: 30vh;
  bottom: 0;
  right: 0;
  z-index: 4;
}
.bleuarriere1 {
  position: absolute;
  width: 40vmax;
  height: 30vmax;
  bottom: 8vh;
  left: 0;
  z-index: 0;
}
.bleuarriere2 {
  position: absolute;
  width: 50vmax;
  height: 20vh;
  bottom: 1vh;
  right: 0;
  z-index: -1;
}
.jumellesimg,
.medusebleuimg,
.meduseroseimg,
.monstreimg,
.sousmarinbleu,
.sousmarinbleu2,
.tresorimg {
  height: auto;
  position: absolute;
}
#chapitre2 {
  background-image: url("../img/img_arriere_plan/chapitre_2/arriere-plan-chp2.png");
}
.jumellesimg {
  top: 10vh;
  left: 30vmax;
  width: 50vmin;
}
.medusebleuimg {
  right: 12vw;
  bottom: 10vh;
  width: 20vmin;
}
.meduseroseimg {
  left: 20vw;
  top: 50vh;
  width: 15vmin;
}
#chapitre3 {
  background-image: url("../img/img_arriere_plan/chapitre_3/arriere-plan-chp3.png");
}
.bulles1 {
  position: absolute;
  top: 10vh;
}
.bulles2 {
  position: absolute;
  top: 20vh;
}
.sousmarinbleu {
  bottom: 20vh;
  left: 0;
  width: 50vmin;
}
body.is-scrolling .sprite1.sprite2,
body.is-scrolling .sprite2 {
  animation-play-state: running;
}
@keyframes sousmarinplay {
  from {
    background-position: -1200% 0;
  }
  to {
    background-position: 0 -1200%;
  }
}
#chapitre4 {
  background-image: url("../img/img_arriere_plan/chapitre_4/arriere-plan-chp4.png");
}
.poissonrouge {
  position: absolute;
  width: 30vmin;
  height: 15vmin;
  right: 0;
  top: 25vh;
}
.monstreimg {
  bottom: 8vh;
  left: 35vw;
  width: 40vmin;
}
.sousmarinbleu2 {
  top: 20vh;
  right: 0;
  width: 30vmin;
  transform: scaleX(-1);
}
section#chapitre5 {
  background-image: url("../img/img_arriere_plan/chapitre_5/arriere-plan-chp5.png");
}
.tresorimg {
  bottom: 8vh;
  left: 0;
  width: 27vmin;
  z-index: 4;
}
.plaineavant {
  position: absolute;
  width: 100vmax;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.plainearriere,
.plainearriere2 {
  position: absolute;
  bottom: 5vh;
  z-index: 0;
}
.plainearriere {
  width: 50vmax;
  left: 0;
}
.plainearriere2 {
  width: 40vmax;
  right: 0;
}
.rochesavant,
.texte-voix1 {
  z-index: 3;
  position: absolute;
}
.rochesavant {
  width: 50vmax;
  bottom: 10vh;
  left: 25vw;
}
svg {
  height: 50vh;
  top: 0;
  left: 35vw;
}
#cadenas {
  visibility: hidden;
}
#chapitre6 {
  background-image: url("../img/img_arriere_plan/chapitre_6/arriere-plan-chp6.png");
}

.animation-container {
  position: relative;
  width: 100%;
  height: 500px;
}
.animation-trace {
  left: 50%;
  transform: translate(-50%, -50%);
}
tentacules {
  position: absolute;
  bottom: 35vh;
  left: 30vw;
  width: 50vmin;
  height: 50vmin;
  aspect-ratio: 1/1;
  background-size: 600% 100%; /* (6 images * 100%) */
  background-image: url("../img/spritesheets/spritesheet_tentacules.png");
  animation: 2s steps(6) infinite playSprite;
  margin: 0 auto;
}

@keyframes playSprite {
  from {
    background-position: 0 100%;
  }
  to {
    background-position: -600% 100%; /* (6 images * 100%) */
  }
}
.credits {
  color: var(--bleu-fonce);
  font-weight: light;
  width: 70vw;
  background-color: var(--jaune);
  border-radius: 5vh;
  padding: 2vh;
  font-size: 0.9rem;
  left: 50vw;
  bottom: 5vh;
  margin-top: 10vmin;
  z-index: 7;
}
