@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

:root {
  --bleu-pale: #36a9e0;
  --rose: #e65774;
  --jaune: #edc009;
  --bleu-marin: #004aad;
  --bleu-fonce: #00204a;
  --rose-deux: #d552a0;
  --off-white: #fffff2;
}

html {
  height: 100vh;
  overflow: hidden;
}

/*--------------------------------------------- HEADER -------------------------------------------------------*/
header {
  width: 100%;
  height: 100vh;
  background-image: url("../img/arriere-plan-principal.png");
  background-size: cover;
  background-position: center;
  position: relative;
}
/*--------------------------------------------- STYLES GLOBALES -------------------------------------------------------*/
body {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Oswald";
}

main {
  overflow-y: visible;
  height: 100vh;
  width: 100vw;
}

section {
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  border: 1px solid red;
  position: relative;
}

.titreHistoire {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4vw;
  color: var(--off-white);
  text-align: center;
}

.titre {
  font-size: 40px;
  color: var(--off-white);
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  width: 100%;
  position: absolute;
  top: 20;
  left: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

h1 {
  position: relative;
  top: 5vh;
  padding: 0 20px;
  text-align: center;
  width: 100%;
  font-size: 4vw;
  color: var(--off-white);
}

h3 {
  position: relative;
  top: 30%;
  text-align: center;
  width: 100%;
  font-size: 2rem;
  color: #ff69b4;
}

h4 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  text-align: center;
  font-size: 2rem;
  color: var(--off-white);
  font-weight: normal;
  padding: 10px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  background-color: rgb(22, 71, 117, 0.5);
}

@media screen and (max-width: 768px) {
  h4 {
    font-size: 1rem;
    padding: 8px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 6vw;
  }
}

#defilezbtn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

#defilezbtn span {
  margin-left: 5px;
  font-size: 30px;
  color: var(--off-white);
}

/*--------------------------------------------- Section pour chapitres -------------------------------------------------------*/
/*--------------------------------------------- Chapitre 1 ------------------------------------*/
#plongee {
  position: relative;
  background-image: url("../img/img_arriere_plan/chapitre_1/arriere-plan-chp1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.groupe1 {
  position: absolute;
  right: 0;
  top: 50%;
}

.groupe2 {
  position: absolute;
  right: 0;
}

.sousmarinbleu {
  position: absolute;
  left: 5%;
  top: 20%;
}

/*--------------------------------------------- Chapitre 2 ------------------------------------*/
#exploration {
  background-image: url("../img/img_arriere_plan/chapitre_2/arriere-plan-chp2.png");
}
.jumellesimg {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.medusebleuimg {
  position: absolute;
  right: 20%;
  top: 40%;
}

.meduseroseimg {
  position: absolute;
  left: 20%;
  top: 50%;
}

/*--------------------------------------------- Chapitre 3 ------------------------------------*/
#traversee {
  background-image: url("../img/img_arriere_plan/chapitre_3/arriere-plan-chp3.png");
}

.bulles1 {
  position: absolute;
}

.bulles2 {
  position: absolute;
}

.sousmarin {
  position: relative;
  bottom: 20vh;
  left: 40vw;
  width: 15vw;
  aspect-ratio: 1/1;
  background-image: url("../img/img_elements_visuels/sous_marin2.png");
  animation: playSprite 2s steps(48) infinite;
  border: 2px solid red;
  margin: 0 auto;
  opacity: 0.5;
  z-index: 4;
}

.sprite {
  width: 100px;
  height: 100px;
  background-image: url("../img/spritesheets/spritesheet_sous_marin2.png");
  background-repeat: no-repeat;
}

body.is-scrolling .sousmarin {
  animation-play-state: running;
}

@keyframes playSprite {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -4800%;
  }
}
/*--------------------------------------------- Chapitre 4 ------------------------------------*/
#rencontre {
  background-image: url("../img/img_arriere_plan/chapitre_4/arriere-plan-chp4.png");
}

.monstreimg {
  position: absolute;
  right: 40%;
  bottom: 3%;
}

/*--------------------------------------------- Chapitre 5 ------------------------------------*/
.parallax-1::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../img/img_arriere_plan/chapitre_5/arriere-plan-chp5-3.png");
  background-size: cover;
  transform: translateZ(-1px) scale(2.2);
}

.parallax-1,
.parallax-2 {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

/*--------------------------------------------- Chapitre 6 ------------------------------------*/
#confrontation {
  background-image: url("../img/img_arriere_plan/chapitre_6/arriere-plan-chp6.png");
}
/*--------------------------------------------- SECTION FIN -------------------------------------------------------*/
/*--------------------------------------------- SECTION FIN-------------------------------------------------------*/
/*--------------------------------------------- SECTION FIN -------------------------------------------------------*/

/*--------------------------------------------- FOOTER -------------------------------------------------------*/

footer {
  text-align: center;
  font-size: 17px;
}

.titreCredits {
  font-size: 17px;
  text-decoration: underline;
}

.credits {
  position: absolute;
  color: var(--off-white);
  font-weight: bold;
  bottom: 5vw;
  left: 17vw;
  padding: 2vw;
  border-radius: 1rem;
  background-color: rgb(213, 82, 160, 0.8);
}

/*Section elements animables */
